@import url(".static/style/chuck.css");
@import url(".static/style/header.css");
@import url(".static/style/menu.css");
@import url(".static/style/battuta.css");

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("static/img/bgi_city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}



