
/*Stile figura di chuck*/

#chuck{
    width: 30vw;
    height: 70vh;
}
.chuckBox{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

