

#title{
    font-size: 220%;
    -webkit-text-stroke: 1px black;
}
#logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 10vh;
    padding-left: 10px;
}
#header{

    width: 100vw;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 190%;
    font-family: 'Bangers', sans-serif;
    color: antiquewhite;
}