
#campo_input {
    font-family: 'Bangers', sans-serif;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.dropdown {
    margin-bottom: 1.5vh;
}
#menu {
    color: black;
    font-size: 130%;
    padding: 15px;
    width: 10vw;
    border: 3px solid #555;
    background: linear-gradient(45deg, #222, #444);
    border-radius: 10px;
    transition: 0.3s;
}
#menu:hover {
    border-color: #ff8c00; 
    background: linear-gradient(45deg, #444, #222);
    box-shadow: 0 0 15px rgb(255, 123, 0); 
    transform:  rotate(5deg);
    color: white;
}
input[type="submit"] {
    padding: 7px 10px;
    font-size: 100%;
    color: white;
    background-color: #ff6200;
    border-radius: 8px;
    box-shadow: 0 8px 30px rgba(111, 0, 255, 0.8);
    transition: all 0.4s ease;
    height: 7vh;
    width: 6vw;
    margin-top: 2vh;
    font-size: 130%;
}
input[type="submit"]:hover {
    background-color: rgb(135, 192, 3);
    transform: scale(1.1) rotate(5deg);
    box-shadow: 0 0 40px rgb(255, 106, 0);
    color: white;
    font-size: 140%;
}